.footer {
  padding: 70px 0;
  background-color: #fff;
  color: #707070;
  font-size: 13px;
  .footerContainer {
    display: grid;
    gap: 50px;
    justify-items: center;
    .footerSns {
      display: flex;
      gap: 24px;
      font-size: 24px;
      a {
        display: grid;
        place-items: center;
        width: 36px;
        aspect-ratio: 1 / 1;
        background-color: #ccc;
        color: #fff;
        clip-path: circle(50%);
      }
    }
    .footerMenu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      li {
        font-size: 1.7rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .footerContainer {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
    & > .footerSite {
      margin-bottom: 20px;
    }
    & > *:not(.footerSns) {
      justify-self: start;
    }
    & > .footerSns {
      grid-column: 2;
      grid-row: 1 / 4;
      justify-self: end;
      align-self: center;
    }
  } 
}
