$main-color: orange;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 0 5vw;
	h1 {
		font-size: 3.2rem;
	}
	ul {
		list-style: none;
		display: flex;
		li {
			margin: 0 20px;
			font-size: 1.8rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.nav {
		height: 8vh;
		h1 {
			font-size: 2rem;
		}
		ul {
			display: none;
		}
	}
}

.header {
	position: relative;
	height: 80vh;
	background-image: url(../src/images/header.webp);
	background-position: center center;
	background-size: cover;
	.header-wrapper {
		position: absolute;
		top: 10vh;
		right: 10vw;
		color: #fff;
		width: 50%;
		h1 {
			margin-bottom: 20px;
			color: #fff;
			font-size: 5rem;
		}
		p {
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		height: 60vh;
		.header-wrapper {
			top: 3vh;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			text-align: center;
			h1 {
				margin-bottom: 20px;
				font-size: 2.8rem;
			}
			p {
				font-size: 1.6rem;
			}
		}
	}	
}

.section {
	position: relative;
	margin-top: 50px;
	padding: 100px 0 50px;
	min-height: 80vh;

	.section-title {
		position: relative;
		font-size: 4rem;
		text-align: center;
		&::after {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-25%);
			z-index: -1;	
			color: rgba($main-color, .2);
			font-size: 8rem;
			font-weight: 900;
		}
	}
}

@media screen and (max-width: 768px){
	.section {
		min-height: 65vh;
		margin-top: 30px;
		padding: 50px 0;
		.section-title {
			font-size: 2.5rem;
			&::after {
				font-size: 4.5rem;
			}
		}
	}	
}

.title-wrapper {
	.section-title {
		font-size: 2.5rem;
		letter-spacing: 8px;
		text-align: center;
	}
	.dot {
		margin: 10px auto;
		text-align: center;
		span {
			display: inline-block;
			background-color: $main-color;
			height: 7px;
			width: 7px;
			border-radius: 100%;
			margin-right: 3px;
		}
	}
}

.link-btn {
	text-decoration: none;
	padding-bottom: 3px;
	color: #000;
	display: block;
}

.sec1 {
	.section-title {
		&::after {
			content: "MESSAGE"
		}
	}
	.box {
		position: absolute;
		top: 0;
		height: 80vh;
		width: 25vw;
		background: linear-gradient(to right, rgba($main-color, .5), rgba($main-color, .4)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		z-index: -1;
	}
	.img {
		position: absolute;
		top: 20vh;
		right: 0;
		background-image: url(../src/images/header.webp);
		background-size: cover;
		display: block;
		width: 55%;
		height: 60vh;
		z-index: -1;
	}
	.text-wrapper {
		position: absolute;
		top: 30vh;
		left: 20%;
		background-color: #fff;
		padding: 3rem;
		width: 35%;
		box-shadow: 0 0 5px 1px #ddd;
		.title-wrapper {
			margin-bottom: 20px;
			.dot {
				margin: 5px 0;
				text-align: left;
			}
			.text-title {
				font-size: 2.5rem;
				text-align: left;
				letter-spacing: 2px;
			}
		}
		p {
			font-size: 1.6rem;
			margin-bottom: 10px;
		}
		.link {
			position: absolute;
			display: block;
			height: 60px;
			width: 60px;
			bottom: 0;
			right: 0;
			font-size: 10rem;
			transform: translateX(50%) translateY(50%);
			background: #fff;
			box-shadow: 0 0 2px 1px #ddd;
			transition: .3s;
			&:hover {
				background: rgba($main-color, .9);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.sec1 {
		.box {
			display: none;
		}
		.img {
			width: 100%;
			height: 30vh;
			top: 15vh;
		}
		.text-wrapper {
			top: 40vh;
			width: 80%;
			left: 50%;
			transform: translateX(-50%);
			.title-wrapper {
				.text-title {
					font-size: 2rem;
				}
			}
			p {
				font-size: 1.4rem;
			}
			.link {
				height: 50px;
				width: 50px;
				left: 50%;
				transform: translateX(-50%) translateY(50%);
			}
		}
	}
}

.sec2 {
	.section-title {
		&::after {
			content: "EXAMINE"
		}
	}
	.menu-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 67%;
		margin: 50px auto;
		.menu {
			position: relative;
			height: 100px;
			width: 40%;
			background-color: #fff;
			border: 1px solid #ccc;
			margin-bottom: 50px;

			&::before {
				position: absolute;
				top: 15px;
				left: 15px;
				content: "";
				height: 100%;
				width: 100%;
				background-color: $main-color;
				z-index: -1;
			}
			.link {
				position: absolute;
				height: 50px;
				width: 50px;
				bottom: -15px;
				right: -15px;
				background-color: #fff;
				border: 1px solid $main-color;
				&:hover {
					background: $main-color;
					border: none;
				}
			}
		}
	}
}
