@charset "UTF-8";
/**
* トップページ用
**/
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

p {
  line-height: 1.5;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #24C6DC;
  background: linear-gradient(to left bottom, #514AfD, #24C6DC);
  overflow: hidden;
}
.header .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 50px inset rgba(81, 74, 253, 0.3);
}
.header .circle1 {
  width: 78vh;
  height: 78vh;
  border-radius: 50% 50% 50% 53%/50% 50% 55% 55%;
  animation: circleAnimation1 20s linear infinite, opacity 4s forwards;
  border: 200px solid rgba(160, 180, 240, 0.05);
}
.header .circle2 {
  width: 90vh;
  height: 96vh;
  border-radius: 52% 50% 50% 50%/50% 50% 52% 50%;
  animation: circleAnimation2 15s linear infinite, opacity 6s forwards;
  border: 190px solid rgba(160, 180, 240, 0.05);
}
.header .circle3 {
  width: 85vh;
  height: 91vh;
  border-radius: 52% 50% 50% 50%/50% 50% 52% 50%;
  animation: circleAnimation1 23s linear infinite, opacity 10s forwards;
}

@keyframes circleAnimation1 {
  0% {
    transform: translate(-48%, -55%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -48%) rotate(180deg);
  }
  50% {
    transform: translate(-51%, -58%) rotate(360deg);
  }
  75% {
    transform: translate(-49%, -62%) rotate(180deg);
  }
  100% {
    transform: translate(-48%, -55%) rotate(0deg);
  }
}
@keyframes circleAnimation2 {
  0% {
    transform: translate(-59%, -53%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -51%) rotate(180deg);
  }
  50% {
    transform: translate(-51%, -55%) rotate(360deg);
  }
  75% {
    transform: translate(-49%, -59%) rotate(180deg);
  }
  100% {
    transform: translate(-59%, -52%) rotate(0deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Helvetica, "游ゴシック", sans-serif;
  width: 100%;
}
.text-wrapper .header-title {
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 3vh;
}
.text-wrapper .product-title {
  font-size: 8rem;
  text-align: center;
  width: 100%;
  margin-bottom: 6vh;
}
.text-wrapper .text {
  font-size: 4.2rem;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto 15px;
}

@media screen and (max-width: 768px) {
  .header .circle1 {
    width: 48vh;
    height: 48vh;
    border: 60px solid rgba(160, 180, 240, 0.1);
  }
  .header .circle2 {
    width: 45vh;
    height: 45vh;
    border: 80px solid rgba(160, 180, 240, 0.1);
  }
  .header .circle3 {
    width: 45vh;
    height: 45vh;
    border: 80px solid rgba(160, 180, 240, 0.1);
  }
  .header .text-wrapper .header-title {
    font-size: 2.5rem;
    width: 80%;
    font-size: 2rem;
    margin: 0 auto 3vh;
    letter-spacing: 1px;
  }
  .header .text-wrapper .product-title {
    font-size: 4.5rem;
    line-height: 1.2;
    letter-spacing: 2px;
  }
  .header .text-wrapper .text {
    font-size: 2.2rem;
    margin-bottom: 10px;
    width: 65%;
  }
}
.btn-wrapper {
  text-align: center;
}
.btn-wrapper a {
  display: inline-block;
  bottom: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 900;
  border-radius: 1px;
  padding: 16px 40px;
  background-image: linear-gradient(to right, #514AfD, #24C6DC, #514AfD);
  background-size: 200%;
  background-position: right center;
  transition: 0.3s;
}
.btn-wrapper a:hover {
  background-position: left center;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .btn-wrapper a {
    font-size: 1.5rem;
    padding: 13px 25px;
  }
}
.section-title {
  margin-bottom: 30px;
  color: #444;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 3rem;
    margin: 0;
  }
}
.contents-section {
  padding-top: 50px;
}
.contents-section .section-wrapper {
  padding: 50px 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto 30px;
}
.contents-section .section-wrapper .introduction {
  position: relative;
  padding: 30px 50px;
  width: 50%;
}
.contents-section .section-wrapper .introduction .numbering {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 900;
  background: -webkit-linear-gradient(90deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contents-section .section-wrapper .introduction .contents-title {
  margin-bottom: 20px;
  font-size: 3.5rem;
  color: #666;
}
.contents-section .section-wrapper .introduction .text {
  margin-bottom: 10px;
  color: #444;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.contents-section .section-wrapper .section-image {
  width: 50%;
}
.contents-section .section-wrapper .section-image .svg-image {
  width: 100%;
  min-height: 35vh;
  background-size: 60%;
  background-position: top center;
  background-repeat: no-repeat;
}

.contents-section .contents-01,
.contents-section .contents-02 {
  padding: 30px 0 40px;
}
.contents-section .contents-01 .section-wrapper .introduction {
  background: #fff;
  border: 1px solid #eee;
}
.contents-section .contents-01 .section-wrapper .introduction::before, .contents-section .contents-01 .section-wrapper .introduction::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
}
.contents-section .contents-01 .section-wrapper .introduction::before {
  top: 8px;
  left: 8px;
  background: rgba(36, 198, 220, 0.7);
  z-index: -1;
}
.contents-section .contents-01 .section-wrapper .introduction::after {
  top: 16px;
  left: 16px;
  background: rgba(81, 74, 253, 0.6);
  z-index: -2;
}
.contents-section .contents-01 .section-wrapper .section-image .svg-image {
  background-image: url(../svg/section1-bg.svg);
}
.contents-section .contents-02 {
  background: linear-gradient(to right top, #b5d5fc 10%, #fff 70%);
}
.contents-section .contents-02 .section-wrapper {
  flex-direction: row-reverse;
}
.contents-section .contents-02 .section-wrapper .section-image .svg-image {
  background-image: url(../svg/section2-bg.svg);
  background-size: 75%;
}

@media screen and (max-width: 768px) {
  .contents-section .section-title {
    margin: 0;
  }
  .contents-section .section-wrapper {
    padding: 10px 0 0;
  }
  .contents-section .section-wrapper .introduction {
    padding: 10px 15px;
  }
  .contents-section .section-wrapper .introduction .numbering {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .contents-section .section-wrapper .introduction .contents-title {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
  .contents-section .section-wrapper .section-image {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .contents-section .contents-01,
.contents-section .contents-02 {
    padding-top: 10px 0 20px;
  }
  .contents-section .contents-01 .introduction,
.contents-section .contents-02 .introduction {
    width: 80%;
  }
  .contents-section .contents-01 .section-wrapper .introduction {
    border: none;
  }
  .contents-section .contents-01 .section-wrapper .introduction::before, .contents-section .contents-01 .section-wrapper .introduction::after {
    display: none;
  }
  .contents-section .contents-02 {
    background: #e4f0fe;
  }
}
.sec3 {
  background-color: #514AfD;
  background-attachment: fixed;
  background-image: url(../svg/section3-bg.svg), linear-gradient(to right, #514AfD, #24C6DC);
  display: flex;
  padding: 50px 0 30px;
}
.sec3 .section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}
.sec3 .section-wrapper .introduction {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
}
.sec3 .section-wrapper .introduction .inner {
  padding: 5% 10% 5% 5%;
}
.sec3 .section-wrapper .introduction .inner .section-title {
  display: inline-block;
  color: #e7550e;
  font-size: 3rem;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(0deg, #e7550e, #dea502);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec3 .section-wrapper .introduction .inner p {
  width: 100%;
  margin-bottom: 10px;
  color: #444;
  font-size: 2rem;
  font-weight: 900;
}
.sec3 .section-wrapper .btn-wrapper {
  margin-top: 30px;
  margin-bottom: 0;
}
.sec3 .section-wrapper .btn-wrapper a {
  background-image: linear-gradient(to right, #dea502, #e7550e, #dea502);
}
.sec3 .section-wrapper .btn-wrapper a:hover {
  background-position: left center;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .sec3 .section-wrapper {
    max-width: none;
  }
  .sec3 .section-wrapper .introduction {
    width: 85%;
  }
  .sec3 .section-wrapper .introduction .inner .section-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .sec3 .section-wrapper .introduction .inner p {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
.sec4 {
  position: relative;
  padding: 70px 0;
}
.sec4 #js-sec4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
  width: 100%;
}
.sec4 .board {
  position: relative;
  background: #fff;
  box-shadow: 0 0 5px 5px #ddd;
  border-radius: 3px;
  padding: 3% 3% 2%;
  width: 35%;
}
.sec4 .board .index {
  position: absolute;
  height: 40px;
  top: -20px;
  left: -50px;
  padding: 12px 25px 0;
  font-size: 2.8rem;
  background-color: #fff;
  font-weight: 900;
  box-shadow: 0 0 5px 5px #ddd;
  border-radius: 3px;
}
.sec4 .board .title {
  color: #666;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 15px;
  line-height: 1.5;
}
.sec4 .board .icon {
  display: block;
  text-align: center;
  margin: 25px auto;
}
.sec4 .board .text,
.sec4 .board .client {
  color: #666;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto 10px;
}
.sec4 .board .client {
  margin-top: 25px;
  color: #444;
  text-align: right;
}
.sec4 .board-1 {
  margin-top: 100px;
  margin-left: 41%;
}
.sec4 .board-1 .index {
  color: #24C6DC;
}
.sec4 .board-1 .client {
  background: linear-gradient(transparent 65%, rgba(36, 198, 220, 0.7) 0);
}
.sec4 .board-2 {
  width: 50%;
  margin-top: 100px;
  margin-left: 15%;
}
.sec4 .board-2 .index {
  color: #514AfD;
}
.sec4 .board-2 .client {
  background: linear-gradient(transparent 65%, rgba(81, 74, 253, 0.7) 0);
}
.sec4 .board-3 {
  margin-top: 100px;
  margin-left: 30%;
}
.sec4 .board-3 .index {
  color: #dea502;
}
.sec4 .board-3 .client {
  background: linear-gradient(transparent 65%, rgba(222, 165, 2, 0.7) 0);
}

@media screen and (max-width: 768px) {
  .sec4 {
    padding: 50px 0;
  }
  .sec4 .section-title {
    width: 80%;
    margin: 0 auto 30px;
  }
  .sec4 .board {
    width: 68%;
    margin: 0 auto 50px;
    padding: 12% 3% 6%;
  }
  .sec4 .board:last-of-type {
    margin: 0 auto 20px;
  }
  .sec4 .board .index {
    height: 30px;
    top: -15px;
    left: -30px;
    font-size: 2rem;
  }
  .sec4 .board .title {
    width: 70%;
    margin: 0 auto;
    font-size: 2rem;
  }
  .sec4 .board .icon {
    margin: 10px auto;
  }
  .sec4 .board .text,
.sec4 .board .client {
    width: 85%;
    font-size: 1.5rem;
  }
}
.sec5 {
  padding: 50px 0 90px;
}
.sec5 .section-title {
  margin-bottom: 80px;
}
.sec5 .wrapper {
  display: flex;
  justify-content: start;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
.sec5 .paid-member,
.sec5 .free-member {
  position: relative;
  width: 30%;
  padding: 2rem 2rem 100px;
  color: #fff;
  text-align: center;
}
.sec5 .paid-member .icon,
.sec5 .free-member .icon {
  height: 80px;
  width: 100%;
  background-image: url(../svg/section4-free.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}
.sec5 .paid-member .title,
.sec5 .free-member .title {
  font-size: 2rem;
  font-weight: 400;
}
.sec5 .paid-member .fee,
.sec5 .free-member .fee {
  font-size: 1.8rem;
  margin: 10px 0;
}
.sec5 .paid-member .fee span,
.sec5 .free-member .fee span {
  display: inline-block;
  font-size: 4rem;
  margin: 0 10px;
}
.sec5 .paid-member P,
.sec5 .free-member P {
  font-size: 2rem;
}
.sec5 .paid-member .plan-specific,
.sec5 .free-member .plan-specific {
  margin: 20px 0;
}
.sec5 .paid-member .plan-specific .list,
.sec5 .free-member .plan-specific .list {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 15px;
}
.sec5 .paid-member .plan-specific .list dl,
.sec5 .paid-member .plan-specific .list dt,
.sec5 .free-member .plan-specific .list dl,
.sec5 .free-member .plan-specific .list dt {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
}
.sec5 .paid-member .btn,
.sec5 .free-member .btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-weight: 900;
  background: #fff;
  font-size: 1.6rem;
  text-decoration: none;
}
.sec5 .introduction {
  padding: 0 3rem 2rem;
  width: 41%;
  background: #fff;
}
.sec5 .introduction .title {
  font-size: 4.5rem;
  margin-bottom: 15px;
}
.sec5 .introduction p {
  color: #444;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.sec5 .introduction p .span1 {
  color: #dea502;
  font-size: 2.8rem;
  font-weight: 900;
}
.sec5 .introduction p .span2 {
  color: #24C6DC;
  font-size: 2.8rem;
  font-weight: 900;
}
.sec5 .free-member {
  background: linear-gradient(to top, #e7550e, #dea502);
  box-shadow: 0 0 8px 2px #dea502;
}
.sec5 .free-member .btn {
  color: #dea502;
}
.sec5 .paid-member {
  background: linear-gradient(-10deg, #514AfD, #24C6DC);
  box-shadow: 0 0 8px 2px #24C6DC;
  margin: 0 3%;
}

@media screen and (max-width: 768px) {
  .sec5 {
    padding: 0;
    margin: 0;
  }
  .sec5 .section-title {
    margin-bottom: 40px;
  }
  .sec5 .wrapper {
    flex-direction: column;
    padding-bottom: 0;
  }
  .sec5 .wrapper .paid-member,
.sec5 .wrapper .free-member {
    width: 80%;
    padding: 1rem 2rem 80px;
    margin: 0 auto 20px;
  }
  .sec5 .wrapper .paid-member .icon,
.sec5 .wrapper .free-member .icon {
    height: 70px;
  }
  .sec5 .wrapper .paid-member .title,
.sec5 .wrapper .free-member .title {
    font-size: 1.5rem;
  }
  .sec5 .wrapper .paid-member .fee,
.sec5 .wrapper .free-member .fee {
    font-size: 1.8rem;
  }
  .sec5 .wrapper .paid-member .fee span,
.sec5 .wrapper .free-member .fee span {
    font-size: 5rem;
  }
  .sec5 .wrapper .introduction {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
  }
  .sec5 .wrapper .introduction .title {
    font-size: 3rem;
    font-weight: 900;
  }
}
.footer {
  padding: 50px 8vw;
  background: #444;
  color: #fff;
  font-size: 1.6rem;
}
.footer .wrapper {
  display: flex;
  margin-bottom: 30px;
}
.footer .wrapper .info .footer-title {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 400;
}
.footer .wrapper .info address .company,
.footer .wrapper .info address .address {
  margin-bottom: 5px;
}
.footer .wrapper .info address .company a,
.footer .wrapper .info address .address a {
  color: #fff;
}
.footer .wrapper .info address .company a:hover,
.footer .wrapper .info address .address a:hover {
  color: #dea502;
}
.footer .wrapper .list-block {
  margin-left: 5vw;
  display: flex;
}
.footer .wrapper .list-block .list-column {
  margin: 0 20px;
}
.footer .wrapper .list-block .list-column a {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  text-decoration: none;
}
.footer .wrapper .list-block .list-column a:hover {
  color: #dea502;
}
.footer .refer {
  margin-top: 30px;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 7vw 30px;
    margin-top: 0;
  }
  .footer .wrapper {
    flex-direction: column;
  }
  .footer .wrapper .info {
    margin-bottom: 20px;
  }
  .footer .wrapper .info .footer-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .footer .wrapper .info address .company,
.footer .wrapper .info address .address {
    font-size: 1.2rem;
  }
  .footer .wrapper .info address .company a,
.footer .wrapper .info address .address a {
    font-size: 1.2rem;
  }
  .footer .wrapper .list-block {
    margin: 0;
  }
  .footer .wrapper .list-block .list-column {
    margin: 0 14px 0 0;
  }
  .footer .wrapper .list-block .list-column a {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}