@charset "UTF-8";
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.header {
  height: 40px;
  border: 1px solid #444;
}
.header .header-title {
  font-size: 1.4rem;
  line-height: 40px;
}
.header .header-title a:hover {
  color: #f5af19;
}

html {
  font-size: 62.5%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}

p {
  line-height: 1.5;
}

.hero {
  position: relative;
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-position: center left;
  margin: 50px auto 100px;
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 0;
}
.hero::before {
  content: "";
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  z-index: -1;
  transition: 0.1s;
  filter: grayscale(80%);
}
.hero:hover::before {
  filter: grayscale(0%) blur(2px);
}
.hero .hero-title {
  font-size: 6rem;
  margin-bottom: 30px;
}
.hero .hero-text {
  text-align: center;
  width: 80%;
  font-size: 2rem;
  line-height: 1.5;
  margin: 30px 0;
}
.hero .btn-wrapper .btn.hero-btn {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 90%;
    height: 50vh;
  }
  .hero::before {
    filter: none;
  }
  .hero .hero-title {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  .hero .hero-text {
    font-size: 1.8rem;
    margin: 15px 0;
  }
}
.btn-wrapper {
  margin: 50px 0;
}
.btn-wrapper .btn {
  font-size: 2rem;
  padding: 10px 100px;
  background: none;
  border: none;
  position: relative;
  letter-spacing: 3px;
}
.btn-wrapper .btn:after, .btn-wrapper .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #aaa;
  transition: transform 0.4s;
}
.btn-wrapper .btn:after {
  transform: translate(7px, 3px);
}
.btn-wrapper .btn:before {
  transform: translate(-3px, -7px);
}
.btn-wrapper .btn:hover {
  background-image: linear-gradient(to right, rgba(245, 175, 25, 0.9), rgba(241, 39, 17, 0.7));
}
.btn-wrapper .btn:hover:after, .btn-wrapper .btn:hover:before {
  transform: translate(0);
}

@media screen and (max-width: 768px) {
  .btn-wrapper {
    margin: 30px 0;
  }
  .btn-wrapper .btn {
    padding: 8px 50px;
    font-size: 1.6rem;
  }
}
.sec1 {
  height: 80vh;
}
.sec1 .wrapper {
  height: 80%;
  position: relative;
}
.sec1 .wrapper .title-wrapper {
  position: absolute;
  top: 5%;
  right: 20%;
  border-left: 10px solid #222;
  padding-left: 3rem;
  z-index: 2;
  transition: 0.4s;
}
.sec1 .wrapper .title-wrapper .section-title,
.sec1 .wrapper .title-wrapper .sub-title {
  color: #222;
  font-weight: 400;
  transition: 0.4s;
}
.sec1 .wrapper .title-wrapper .section-title {
  margin-bottom: 10px;
  font-size: 7rem;
}
.sec1 .wrapper .title-wrapper .sub-title {
  font-size: 1.9rem;
}
.sec1 .wrapper .text {
  background-color: #fff;
  width: 30%;
  position: absolute;
  bottom: 5%;
  right: 10%;
  padding: 50px 30px 20px;
  z-index: 2;
}
.sec1 .wrapper .text p {
  margin-bottom: 10px;
  font-size: 1.8rem;
}
.sec1 .wrapper .text .btn.sec1-btn {
  color: #666;
}
.sec1 .wrapper .image {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/sec1.webp);
  height: 80%;
  width: 70%;
  filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.sec1 .wrapper .back {
  position: relative;
  height: 100%;
  width: 20%;
  margin-left: 20%;
  background-image: linear-gradient(to left bottom, #eee, #aaa);
}
.sec1 .wrapper .back::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(to left bottom, rgba(245, 175, 25, 0.4), rgba(241, 39, 17, 0.6));
  transition: 0.4s;
}
.sec1 .wrapper:hover .title-wrapper {
  border-left: 10px solid #f5af19;
}
.sec1 .wrapper:hover .title-wrapper .section-title,
.sec1 .wrapper:hover .title-wrapper .sub-title {
  color: #f5af19;
}
.sec1 .wrapper:hover .back::before {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .sec1 {
    height: 75vh;
    margin: 30px 0 0;
  }
  .sec1 .wrapper .title-wrapper {
    left: 5%;
    right: 0;
  }
  .sec1 .wrapper .title-wrapper .section-title {
    font-size: 4rem;
  }
  .sec1 .wrapper .text {
    bottom: 0;
    width: 60%;
    padding: 30px 20px 10px;
  }
  .sec1 .wrapper .text p {
    font-size: 1.5rem;
  }
  .sec1 .wrapper .image {
    width: 90%;
    filter: none;
  }
  .sec1 .wrapper .back {
    margin-left: 5%;
    height: 90%;
    width: 60%;
    background-image: linear-gradient(to left bottom, rgba(245, 175, 25, 0.4), rgba(241, 39, 17, 0.6));
  }
}
.sec2 {
  overflow-x: hidden;
}
.sec2 .wrapper {
  position: relative;
  min-height: 80vh;
}
.sec2 .wrapper .title-wrapper {
  position: absolute;
  top: -2%;
  right: 20%;
  border-left: 10px solid #222;
  padding-left: 3rem;
  z-index: 2;
  transition: 0.4s;
}
.sec2 .wrapper .title-wrapper .section-title,
.sec2 .wrapper .title-wrapper .sub-title {
  color: #222;
  font-weight: 400;
  transition: 0.4s;
}
.sec2 .wrapper .title-wrapper .section-title {
  margin-bottom: 10px;
  font-size: 7rem;
}
.sec2 .wrapper .title-wrapper .sub-title {
  font-size: 1.9rem;
}
.sec2 .wrapper .box-wrapper {
  margin: 5% auto 50px;
  width: 78%;
  display: flex;
  justify-content: space-around;
}
.sec2 .wrapper .box-wrapper .box {
  height: 35vh;
  width: 28%;
}
.sec2 .wrapper .box-wrapper .box .img {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  width: 100%;
  height: 55%;
}
.sec2 .wrapper .box-wrapper .box .text {
  padding: 20px 10px;
}
.sec2 .wrapper .box-wrapper .box .text .box-title {
  margin-bottom: 20px;
  font-size: 2rem;
}
.sec2 .wrapper .box-wrapper .box .text p {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.sec2 .wrapper .box-wrapper .box.box-2 {
  margin-top: 6%;
}
.sec2 .wrapper .box-wrapper .box.box-3 {
  margin-top: 12%;
}
.sec2 .wrapper .back {
  position: absolute;
  top: 10%;
  z-index: -1;
  height: 50vh;
  width: 110%;
  background-image: linear-gradient(to right, rgba(241, 39, 17, 0.1), rgba(245, 175, 25, 0.4));
  opacity: 0;
  transition: 0.6s;
  transform: rotate(-1deg);
  margin-left: -5%;
}
.sec2 .wrapper .btn-wrapper {
  position: absolute;
  bottom: 10%;
  left: 30%;
}
.sec2 .wrapper .btn-wrapper .btn.sec2-btn {
  color: #444;
}
.sec2 .wrapper:hover .title-wrapper {
  border-left: 10px solid #f5af19;
}
.sec2 .wrapper:hover .title-wrapper .section-title,
.sec2 .wrapper:hover .title-wrapper .sub-title {
  color: #f5af19;
}
.sec2 .wrapper:hover .back {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .sec2 {
    min-height: 100vh;
    overflow-x: hidden;
  }
  .sec2 .wrapper .title-wrapper {
    position: static;
    top: 0;
    right: 0;
    margin-left: 5%;
  }
  .sec2 .wrapper .title-wrapper .section-title {
    font-size: 4rem;
  }
  .sec2 .wrapper .title-wrapper .sub-title {
    font-size: 1.9rem;
  }
  .sec2 .wrapper .box-wrapper {
    width: 90%;
    flex-direction: column;
    margin: 10% auto 0;
  }
  .sec2 .wrapper .box-wrapper .box {
    min-height: 50vh;
    width: 85%;
    margin: 0 auto 20px;
  }
  .sec2 .wrapper .box-wrapper .box .img {
    height: 44%;
  }
  .sec2 .wrapper .box-wrapper .box .text .box-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
  }
  .sec2 .wrapper .box-wrapper .box .text p {
    margin-bottom: 7px;
    font-size: 1.3rem;
  }
  .sec2 .wrapper .box-wrapper .box:last-child {
    margin-bottom: 50px;
  }
  .sec2 .wrapper .back {
    display: none;
  }
  .sec2 .wrapper .btn-wrapper {
    position: static;
    margin: 0 auto 30px;
    text-align: center;
  }
}
.sec3 {
  height: 100vh;
  background-image: url(../images/sec1.webp);
  background-size: cover;
}
.sec3 .wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.sec3 .wrapper .title-wrapper {
  position: absolute;
  top: 15%;
  right: 20%;
  border-left: 10px solid #fff;
  padding-left: 3rem;
  z-index: 2;
  transition: 0.4s;
}
.sec3 .wrapper .title-wrapper .section-title,
.sec3 .wrapper .title-wrapper .sub-title {
  color: #fff;
  font-weight: 400;
  transition: 0.4s;
}
.sec3 .wrapper .title-wrapper .section-title {
  margin-bottom: 10px;
  font-size: 7rem;
}
.sec3 .wrapper .title-wrapper .sub-title {
  font-size: 1.9rem;
}
.sec3 .wrapper .information {
  position: absolute;
  margin-top: 20vh;
  left: 12%;
  color: #fff;
  font-size: 2rem;
  line-height: 1.5;
}
.sec3 .wrapper .information dt {
  position: absolute;
  left: 0;
  width: 10em;
  padding-top: 30px;
}
.sec3 .wrapper .information dd {
  padding-top: 30px;
  padding-left: 8em;
  padding-bottom: 10px;
  border-bottom: solid 2px #fff;
}
@media screen and (max-width: 768px) {
  .sec3 .wrapper .title-wrapper {
    top: 5%;
    left: 0;
    margin-left: 5%;
  }
  .sec3 .wrapper .title-wrapper .section-title {
    font-size: 4rem;
  }
  .sec3 .wrapper .title-wrapper .sub-title {
    font-size: 1.9rem;
  }
  .sec3 .wrapper .information {
    left: 5%;
    font-size: 1.5rem;
    width: 90%;
  }
  .sec3 .wrapper .information dt {
    padding-top: 20px;
    width: 7em;
  }
  .sec3 .wrapper .information dd {
    padding-top: 20px;
    padding-left: 7em;
  }
}