@import "./variable";

.header {
  height: 40px;
  border: 1px solid #444;

  .header-title {
    font-size: 1.4rem;
    line-height: 40px;

    a {
      &:hover {
        color: $main-color;
      }
    }
  }
}