@import "./reset";
@import "./variable";
@import "./header";

html {
  font-size: 62.5%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
          "Yu Gothic Medium", "游ゴシック Medium",
          YuGothic, "游ゴシック体",
          "メイリオ",
          sans-serif;
}

p {
  line-height: 1.5;
}

.hero {
  position: relative;
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-position: center left;
  margin: 50px auto 100px;
  width: 80%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    z-index: -1;
    transition: .1s;
    filter: grayscale(80%);
  }

  &:hover {
    &::before {
      filter: grayscale(0%) blur(2px);
    }
  }

  .hero-title {
    font-size: 6rem;
    margin-bottom: 30px;
  }
  
  .hero-text {
    text-align: center;
    width: 80%;
    font-size: 2rem;
    line-height: 1.5;
    margin: 30px 0;
  }

  .btn-wrapper {
    .btn.hero-btn {
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 90%;
    height: 50vh;
    &::before {
      filter: none;
    }
    .hero-title {
      font-size: 3rem;
      margin-bottom: 15px;
    }
    .hero-text {
      font-size: 1.8rem;
      margin: 15px 0;
    }
  }
}

.btn-wrapper {
  margin: 50px 0;
  .btn {
    font-size: 2rem;
    padding: 10px 100px;
    background: none;
    border: none;
    position: relative;
    letter-spacing: 3px;

    &:after, &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 2px solid #aaa;
      transition: transform .4s ;
    }
    &:after {
      transform: translate(7px, 3px);
    }
    &:before {
      transform: translate(-3px, -7px);
    }
    &:hover {
      background-image: linear-gradient(to right, rgba($main-color, .9), rgba($main-color2, .7));
      &:after, &:before {
        transform: translate(0);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .btn-wrapper {
    margin: 30px 0;
    .btn {
      padding: 8px 50px;
      font-size: 1.6rem;
    }
  }
}

.sec1 {
  height: 80vh;

  .wrapper {
    height: 80%;
    position: relative;
    .title-wrapper {
      position: absolute;
      top: 5%;
      right: 20%;
      border-left: 10px solid #222;
      padding-left: 3rem;
      z-index: 2;
      transition: .4s;

      .section-title,
      .sub-title {
        color: #222;
        font-weight: 400;
        transition: .4s;
      }
      .section-title {
        margin-bottom: 10px;
        font-size: 7rem;
      }
      .sub-title {
        font-size: 1.9rem;
      }
    }

    .text {
      background-color: #fff;
      width: 30%;
      position: absolute;
      bottom: 5%;
      right: 10%;
      padding: 50px 30px 20px;
      z-index: 2;
      p {
        margin-bottom: 10px;
        font-size: 1.8rem;
      }
      .btn.sec1-btn {
        color: #666;
      }
    }

    .image {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/sec1.webp);
      height: 80%;
      width: 70%;
      filter: grayscale(100%);
      background-size: cover;
      background-position: center center;
      z-index: 1;
    }

    .back {
      position: relative;
      height: 100%;
      width: 20%;
      margin-left: 20%;
      background-image: linear-gradient(to left bottom, #eee, #aaa);

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-image: linear-gradient(to left bottom, rgba($main-color, .4), rgba($main-color2, .6));
        transition: .4s;
      }
    }

    &:hover {
      .title-wrapper {
        border-left: 10px solid $main-color;
        .section-title,
        .sub-title {
          color: $main-color;
        }
      }
      .back {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sec1 {
    height: 75vh;
    margin: 30px 0 0;

    .wrapper {
      .title-wrapper {
        left: 5%;
        right: 0;
        .section-title {
          font-size: 4rem;
        }
      }
      .text {
        bottom: 0;
        width: 60%;
        padding: 30px 20px 10px;
        p {
          font-size: 1.5rem;
        }
      }
      .image {
        width: 90%;
        filter: none;
      }
      .back {
        margin-left: 5%;
        height: 90%;
        width: 60%;
        background-image: linear-gradient(to left bottom, rgba($main-color, .4), rgba($main-color2, .6));
      }
    }
  }
}

.sec2 {
  overflow-x: hidden;
  .wrapper {
    position: relative;
    min-height: 80vh;

    .title-wrapper {
      position: absolute;
      top: -2%;
      right: 20%;
      border-left: 10px solid #222;
      padding-left: 3rem;
      z-index: 2;
      transition: .4s;

      .section-title,
      .sub-title {
        color: #222;
        font-weight: 400;
        transition: .4s;
      }
      .section-title {
        margin-bottom: 10px;
        font-size: 7rem;
      }
      .sub-title {
        font-size: 1.9rem;
      }
    }
    .box-wrapper {
      margin: 5% auto 50px;
      width: 78%;
      display: flex;
      justify-content: space-around;

      .box {
        height: 35vh;
        width: 28%;

        .img {
          background-image: url(../images/hero.jpg);
          background-size: cover;
          width: 100%;
          height: 55%;
        }
        .text {
          padding: 20px 10px;

          .box-title {
            margin-bottom: 20px;
            font-size: 2rem;
          }
          p {
            margin-bottom: 10px;
            font-size: 1.3rem;
          }
        }
      }

      .box.box-2 {
        margin-top: 6%;
      }
      .box.box-3 {
        margin-top: 12%;
      }
    }// box-wrapper
    .back {
      position: absolute;
      top: 10%;
      z-index: -1;
      height: 50vh;
      width: 110%;
        background-image: linear-gradient(to right, rgba($main-color2, .1), rgba($main-color, .4));
      opacity: 0;
      transition: .6s;
      transform: rotate(-1deg);
      margin-left: -5%;
    }
    .btn-wrapper {
      position: absolute;
      bottom: 10%;
      left: 30%;
      .btn.sec2-btn {
        color: #444;
      }
    }

    &:hover {
      .title-wrapper {
        border-left: 10px solid $main-color;
        .section-title,
        .sub-title {
          color: $main-color;
        }
      }
      .back {
        opacity: 1;
      }
    }

  } //wrapper
}

@media screen and (max-width: 768px) {
  .sec2 {
    min-height: 100vh;
    overflow-x: hidden;
    .wrapper {

      .title-wrapper {
        position: static;
        top: 0;
        right: 0;
        margin-left: 5%;

        .section-title {
          font-size: 4rem;
        }
        .sub-title {
          font-size: 1.9rem;
        }
      }
      .box-wrapper {
        width: 90%;
        flex-direction: column;
        margin: 10% auto 0;

        .box {
          min-height: 50vh;
          width: 85%;
          margin: 0 auto 20px;

          .img {
            height: 44%;
          }

          .text {
            .box-title {
              margin-bottom: 15px;
              font-size: 1.8rem;
            }
            p {
              margin-bottom: 7px;
              font-size: 1.3rem;
            }
          }
          &:last-child {
            margin-bottom: 50px;
          }
        } //box
      }// box-wrapper
      .back {
        display: none;
      }

      .btn-wrapper {
        position: static;
        margin: 0 auto 30px;
        text-align: center;
      }
    } //wrapper
  }
}

.sec3 {
  height: 100vh;
  background-image: url(../images/sec1.webp);
  background-size: cover;

  .wrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    position: relative;
    .title-wrapper {
      position: absolute;
      top: 15%;
      right: 20%;
      border-left: 10px solid #fff;
      padding-left: 3rem;
      z-index: 2;
      transition: .4s;

      .section-title,
      .sub-title {
        color: #fff;
        font-weight: 400;
        transition: .4s;
      }
      .section-title {
        margin-bottom: 10px;
        font-size: 7rem;
      }
      .sub-title {
        font-size: 1.9rem;
      }
    }

    .information {
      position: absolute;
      margin-top: 20vh;
      left: 12%;
      color: #fff;
      font-size: 2rem;
      line-height: 1.5;

      dt {
        position: absolute;
        left: 0;
        width: 10em;
        padding-top: 30px;
      }
      dd {
        padding-top: 30px;
        padding-left: 8em;
        padding-bottom: 10px;
        border-bottom: solid 2px #fff;
      }

      hr {
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sec3 {
    .wrapper {
      .title-wrapper {
        top: 5%;
        left: 0;
        margin-left: 5%;
        .section-title {
          font-size: 4rem;
        }
        .sub-title {
          font-size: 1.9rem;
        }
      }

      .information {
        left: 5%;
        font-size: 1.5rem;
        width: 90%;

        dt {
          padding-top: 20px;
          width: 7em;
        }
        dd {
          padding-top: 20px;
          padding-left: 7em;
        }
      }
    }
  }
}