.wrapper {
  width: 55%;
  margin: 50px auto;

  .slide {
    overflow: hidden;
    height: 65vh;
    border: 1px solid red;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
    .slide {
      height: auto;
    }
  } 
}