.wrapper {
  width: 55%;
  height: 65vh;
  margin: 0 auto;
}

.slide {
  overflow: hidden;
}

@media (max-width: 768px) {
  .wrapper {
    width: 78%;
  }

  .slide {
    height: auto;
  }
}

.prev-button {
  left: -60px !important;

  &::before {
    color: #444 !important;
    font-size: 4rem !important;
  }
}

.next-button {
  right: -40px !important;

  &::before {
    color: #444 !important;
    font-size: 4rem !important;
  }
}

@media (max-width: 768px) {
  .prev-button {
    left: -30px !important;

    &::before {
      font-size: 2.3rem !important;
    }
  }

  .next-button {
    right: -30px !important;

    &::before {
      font-size: 2.3rem !important;
    }
  }
}
