$main-color: #E7017A;
$main-color2: #DF4A1F;
$bg-gradient: rgba(14, 24, 42, .99);
$gradient-primary: $main-color linear-gradient(91.78deg, $main-color 2.57%, $main-color2 96.33%);

$gradient1: linear-gradient(315deg, #ffbc00, #ff0058);
$gradient2: linear-gradient(315deg, #0575E6, #00F260);

.allWrapper {
	background-image: linear-gradient(to left bottom, rgba($bg-gradient, 0.99), $bg-gradient);
	font-family: "游ゴシック", "Yu Gothic",
		"Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.nav {
	background-image: linear-gradient(to right, $main-color, $main-color2);
	width: 100%;
	z-index: 2;
	ul {
		padding: 13px 0;
		width: 50%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
    overflow-x: auto;
    white-space: nowrap;
		li {
      display: inline-block;
			font-size: 1.2rem;
			font-weight: bold;
			letter-spacing: 1px;
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

@media screen and (max-width: 768px) {
  .nav {
    ul {
      justify-content: start;
      width: 90%;
      li {
        margin-right: 20px;
        font-size: 0.9rem;
        font-weight: normal;
      }
    }
  }
}

.view {
	min-height: 100vh;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(226, 232, 240);
	line-height: 1.5;
	margin-top: -50px;
	height: 100vh;
	h1 {
		margin-bottom: 4vh;
		color: rgb(226, 232, 240);
		font-size: 2.2rem;
		letter-spacing: 2px;
	}
	p {
		margin-bottom: 6vh;
		font-size: 1.3rem;
		text-align: center;
		letter-spacing: 1px;
		width: 50%;
	}
	.box {
		position: relative;
		width: 400px;
		height: 300px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		list-style: none;
		background-color: $bg-gradient;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 50px;
		&::before {
			content: "";
			position: absolute;
			height: 170%;
			width: 200px;
			background-image: linear-gradient($main-color, $main-color2);
			animation: animate 8s linear infinite;
		}
		&::after {
			content: "";
			position: absolute;
			inset: 4px;
			background-color: darken($bg-gradient, 0.9);
		}
		li {
			position: relative;
			text-align: center;
			font-size: 1.4rem;
			font-weight: 500;
			letter-spacing: 1px;
			z-index: 1;
		}
	}
	.scroll {
		position: absolute;
		bottom: 8vh;
		font-size: 1.1rem;
		font-weight: 500;
		border-bottom: 1.5px solid #fff;
	}
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}	
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 768px) {
	.header {
    margin-top: 30px;
		h1 {
			width: 80%;
			font-size: 1.3rem;
		}
		p {
			width: 80%;
			font-size: 0.9rem;
		}
		.box {
			width: 65%;
			height: 200px;
			&::before {
				width: 150px;
			}
			li {
				font-size: 1rem;
			}
		}
	}
	
}

.cutout {
	font-size: 1.7em;
	color: transparent;
	-webkit-text-stroke: 1px $main-color;
}

.char-gradient {
	color: #E7017A;
	background: -webkit-linear-gradient(0deg,  #E7017A 40%, #DF4A1F 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: 900;
	text-shadow: 0 0 3px 3px $main-color;
}

.viewList {
	position: fixed;
	top: 50%;
	right: 60px;
	transform: translateY(-50%);
	list-style: none;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	li {
			border-radius: 2px;
		a {
			display: block;
			position: relative;
			text-decoration: none;
			z-index: 2;
			transition: .35s;
      padding: 15px 20px;
      svg {
        color: #fff;
        font-size: 3rem;
      }
		}
		&:hover {
			box-shadow: 0 0 20px 1px rgba($main-color, 0.4);
			a {
        svg {
          color: $main-color;
        }
			}
		}
	}
	li.active {
		box-shadow: 0 0 20px 1px rgba($main-color, 0.4);
		a {
      svg {
        color: rgba($main-color, 0.8);
      }
		}
	}
}

@media screen and (max-width: 768px) {
	.viewList {
		display: none;
	}
}

.section {
	padding: 50px 0 20px;
	.section-title {
		color: transparent;
		-webkit-text-stroke: 1px #fff;
		font-size: 4rem;
		font-weight: 100;
		letter-spacing: 3px;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.section {
		.section-title {
			font-size: 2.5rem;
		}
  }
}

.view2 {
	.container {
		margin: 100px auto 50px;
		width: 85%;
		display: flex;
		justify-content: space-around;
	}
	.box {
		position: relative;
		width: 240px;
		height: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		transition: 0.5s;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			width: 50%;
			height: 100%;
			border-radius: 8px;
			transition: 0.5s;
		}
		&::after {
			filter: blur(30px);
		}
		&:nth-child(1):before,
		&:nth-child(1)::after {
			background-image: $gradient1;
			transform: skewX(15deg);
		}
		&:nth-child(2):before,
		&:nth-child(2):after {
			background-image: $gradient2;
		}
		&:nth-child(3):before,
		&:nth-child(3)::after {
			background: linear-gradient(45deg, #db36a4, #f7ff00);
			transform: skewX(-15deg);
		}
		&:hover::before,
		&:hover::after {
			transform: skewX(0deg);
			width: calc(100% - 90px);
		}
		span {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right:0;
			bottom: 0;
			z-index: 2;
			pointer-events: none;
			&::before,
			&::after {
				content: "";
				position: absolute;
        /*
				width: 100%;
				height: 100%;
        */
				border-radius: 8px;
				backdrop-filter: blur(10px);
				background-color: rgba(#fff, 0.1);
				box-shadow: 0 5px 15px rgba(#000, 0.05);
				opacity: 0;
				transition-delay: 0.3s;
			}
		}
		&:hover span::before,
		&:hover span::after {
			width: 100px;
			height: 100px;
			opacity: 1;
		}
		&:nth-child(1) span::before {
			animation: span-anime1 2s ease-in-out infinite;
			top: -50px;
		}
		&:nth-child(1) span::after {
			animation: span-anime2 2s ease-in-out infinite;
			bottom: -50px;
			right: 0;
		}
		&:nth-child(2) span::before {
			animation: span-anime2 2s ease-in-out infinite;
			top: -50px;
			right: 0
		}
		&:nth-child(2) span::after {
			animation: span-anime1 2s ease-in-out infinite;
			bottom: -50px;
			left: 0; 
		}
		&:nth-child(3) span::before {
			animation: span-anime2 2s ease-in-out infinite;
			top: -50px;
			right: 0;
		}
		&:nth-child(3) span::after {
			animation: span-anime3 2s ease-in-out infinite;
			bottom: -50px;
			left: 0;
		}
		@keyframes span-anime1 {
			0%, 100% {
				transform: translateY(10px);
			}	
			50% {
				transform: translateY(-10px);
			}
		}
		@keyframes span-anime2 {
			0%, 100% {
				transform: translateX(10px);
			}	
			50% {
				transform: translateX(-10px);
			}
		}
		@keyframes span-anime3 {
			0%, 100% {
				transform: translateX(-10px);
			}	
			50% {
				transform: translateX(10px);
			}
		}
		.content {
			position: absolute;
			width: 100%;
			padding: 30px 40px;
			background-color: rgba(#fff, 0.3);
			box-shadow: 0 5px 15px rgba(#000, 0.1);
			border-radius: 8px;
			backdrop-filter: blur(10px);
			z-index: 1;
			transition: 0.5s;
			color: #fff;
			h3 {
        margin-bottom: 20px;
				font-size: 1.5rem;
			}
			p {
				font-size: 1rem;
				line-height: 1.7;
			}
		}
		&:hover .content {
			padding: 18px 45px;
			width: 110%;
		}
	}

	.arch-table {
		width: 60%;
		margin: 100px auto 0;
		color: #fff;
		tr {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			background-color: rgba(#fff, 0.1);
			padding: 12px 20px;
			th,
			td {
				font-size: 1.5rem;
				line-height: 1.3;
			}
			th {
				position: relative;
				width: 190px;
				&::before {
					content: "";
					position: absolute;
					height: 25px;
					width: 25px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 10px;
				}
			}
			&:nth-child(1) th::before {
				background: linear-gradient(315deg, #ffbc00, #ff0058);
			}
			&:nth-child(2) th::before {
				background: linear-gradient(315deg, #0575E6, #00F260);
			}
			&:nth-child(3) th::before {
				background: linear-gradient(45deg, #db36a4, #f7ff00);
			}
		}
	}
}

@media screen and (max-width: 768px) {
  .view2 {
		.container {
			flex-direction: column;
			margin: 80px auto 30px;
		}	
		.box {
			height: 250px;
			margin-bottom: 50px;
			&:nth-child(1):before,
			&:nth-child(1)::after {
				transform: skewX(0);
			}
			&:nth-child(3):before,
			&:nth-child(3)::after {
				transform: skewX(0);
			}
      span {
      }
      &:hover span::before,
      &:hover span::after {
        width: 75px;
        height: 75px;
      }
      .content {
        width: 80%;
        padding: 20px 25px;
        h3 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
      &:hover .content {
        padding: 18px 30px;
        width: 100%;
      }
		}
		.arch-table {
			margin: 30px auto 0;
			width: 95%;
      tr {
        padding: 12px;
        th {
					font-size: 0.9rem;
				}
        td {
          font-size: 0.8rem;
        }
        th {
          max-width: 110px;
          &::before {
            height: 18px;
            width: 18px;
            border-radius: 5px;
          }
        }
      }
		}
	}
}

.view3 {
	.wrapper {
		width: 60%;
		margin: 50px auto;
		.content {
			display: flex;
			color: #fff;
			width: 80%;
			margin-bottom: 30px;
			padding: 12px 8px;
			transition: .3s;
			text-decoration: none;
			&:hover {
				background-color: rgba(#fff, 0.01);
				color: rgba($main-color, 0.8);
			}
			.page-number {
				position: relative;
				margin-right: 50px;
				width: 55px;
				height: 55px;
				background-color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				&::before,
				&::after {
					content: "";
					position: absolute;
					top: -4px;
					left: -4px;
					right: -4px;
					bottom: -4px;
					transform: skewX(2deg) skewY(4deg);
					border-radius: 2px;
				}
				&::after {
					filter: blur(15px);
				}
				span {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-color: $bg-gradient;
					z-index: 1;
				}
				h4 {
					position: relative;
					font-size: 1.2rem;
					z-index: 3;
				}
			} //page-number
			.setumei {
				h3 {
					margin-bottom: 20px;
					font-size: 1.8rem;
					line-height: 1.5;
				}
				p {
					font-size: 1.1rem;
					line-height: 1.5;
				}
			}
			.page-1 {
				&::before,
				&::after {
					background: linear-gradient(315deg, #4A569D, $bg-gradient, #DC2424);
				}
			}
			.page-2 {
				&::before,
				&::after {
					background: linear-gradient(315deg, orange, $bg-gradient, #009FFF);
				}
			}
			.page-3 {
				&::before,
				&::after {
					background: linear-gradient(315deg, #00f260, $bg-gradient, #ffd200);
				}
			}
			.page-4 {
				&::before,
				&::after {
					background: linear-gradient(315deg, #b91d73, $bg-gradient, #f953c6);
				}
			}
			.page-5 {
				&::before,
				&::after {
					background: linear-gradient(315deg, #ffd200, $bg-gradient, #FC466B);
				}
			}
			.page-6 {
				&::before,
				&::after {
					background: linear-gradient(315deg, #00c3ff, $bg-gradient, #ffff1c);
				}
			}
			.page-7 {
				&::before,
				&::after {
					background: linear-gradient(315deg, #66ff00, $bg-gradient, #a80077);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.view3 {
		.wrapper {
			width: 90%;
			margin: 30px auto;
			.content {
				width: 100%;
				flex-direction: column;
				.page-number {
					margin-right: 0;
					margin-bottom: 20px;
					width: 45px;
					height: 45px;
					h4 {
						font-size: 1rem;
					}
				}
				.setumei {
					width: 95%;
					h3 {
						font-size: 1.3rem;
						margin-bottom: 10px;
					}
					p {
						font-size: 0.9rem;
					}
				}
			}
		}
	}	
}