.card {
  opacity: 0;
  position: relative;
  display: flex;
  justify-content: center;
  width: unquote("max(270px, 30%)");
  height: unquote("min(400px, 45vh)");
  background-color: #222;
  color: #aaa;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.percent {
  opacity: 0;
  position: relative;
  top: 10%;
  width: 150px;
  height: 150px;
  transition-duration: 1.5s;
  transition-delay: 0.5s;
}

.dot {
  opacity: 0;
  position: absolute;
  inset: 5px;
  transform: rotate(calc(3.6deg * var(--num)));
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color);
    box-shadow: 0 0 1px var(--color), 0 0 1px var(--color);
  }
}

.svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);

  circle {
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);

    &:nth-child(2) {
      opacity: 0;
      stroke: var(--color);
      stroke-dasharray: 440;
      stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    }
  }
}

.number {
  opacity: 0;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.text {
  opacity: 0;
  position: absolute;
  top: 250px;
  width: 80%;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .text {
    top: 200px;
  }
}

.card.show {
  opacity: 1;

  .percent {
    opacity: 1;

    .dot {
      animation: animateDot 1.4s linear 0.5s forwards;

      &::before {
        box-shadow: 0 0 1px var(--color), 0 0 20px 6px var(--color);
      }

      @keyframes animateDot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          opacity: 1;
          transform: rotate(calc(3.6deg * var(--num)));
        }
      }
    }

    .svg {
      circle {
        &:nth-child(2) {
          animation: svgAnime 1.3s linear 1.6s forwards;
        }
      }
    }

    @keyframes svgAnime {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .number {
      opacity: 1;
      transition-duration: 1.2s;
      transition-delay: 2s;
    }
  }

  .text {
    opacity: 1;
    transition-duration: 1.2s;
    transition-delay: 2s;
  }
}
