.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: unquote("max(270px, 30%)");
  height: 400px;
  height: unquote("min(400px, 45vh)");
  background-color: #222;
}

.percent {
  position: relative;
  top: 10%;
  width: 150px;
  height: 150px;
}

.dot {
  position: absolute;
  inset: 5px;
  transform: rotate(calc(3.6deg * var(--num)));
  z-index: 2;
  animation: animateDot 1.3s linear forwards;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color);
    box-shadow: 0 0 10px var(--color), 0 0 30px var(--color);
  }
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);

  circle {
    //width: 100%;
    //height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);

    &:nth-child(2) {
      stroke: var(--color);
      stroke-dasharray: 440;
      stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
      opacity: 0;
      animation: fadeIn 1s linear forwards;
      animation-delay: 1.5s;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.number {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.text {
  position: absolute;
  top: 250px;
  font-size: 2rem;
  width: 80%;
  text-align: center;
}

@media (max-width: 768px) {
  .text {
    top: 200px;
  }
}
