$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;

/* Animations */
@keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

.header {
  position: relative;
  background: url($bg-url) repeat 0 0;
  color: #eee;
  font-weight: 100;
  animation: bg-scrolling-reverse 0.92s infinite;
  animation-timing-function: linear;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(124deg, rgba(21, 87, 153, 0.77), rgba(21, 153, 87, 0.77));
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 5%;
}

.header-title,
.header-sub-title,
.text,
.my-skill {
  font-family: "Open Sans", sans-serif;
  animation-name: top-to-down;
  animation-duration: 2s;
}

.header-title,
.header-sub-title {
  max-width: 80%;
  font-weight: 500;
  text-shadow: -1px 2px 0 rgba(100, 100, 100, 1);
  text-align: center;
  letter-spacing: 2px;
}

.header-sub-title {
  margin-bottom: 20px;
  font-size: clamp(30px, 4vw, 45px);
  letter-spacing: 2px;
}

.header-title {
  margin-bottom: 30px;
  font-size: clamp(50px, 5vw, 88px);
  letter-spacing: 4px;
}

.message {
  margin-bottom: 30px;
  font-size: clamp(27px, 2.2vw, 38px);
  letter-spacing: 1px;
  text-align: center;
  transition: 0.2s;

  svg {
    color: pink;
  }
}

.text {
  margin-bottom: 20px;
  color: #ddd;
  font-size: 2.2rem;
  font-weight: 500;
}

.time {
  letter-spacing: 1px;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100px;

  &:hover .arrow {
    border-color: orange;
  }
}

.arrow {
  width: 35px;
  height: 35px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  animation: arrow-move 1.5s infinite;
  transition: 0.5s;

  &:not(:first-child) {
    margin-top: -10px;
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: 0.15 * $i + s;
    }
  }
}

@keyframes arrow-move {
  0% {
    opacity: 0;
    transform: rotate(45deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(15px) rotate(45deg);
  }
}

@media (max-width: 768px) {
  .arrow-container {
    width: 50px;
    margin-top: 20px;
  }

  .arrow {
    width: 25px;
    height: 25px;
  }
}

.sa {
  opacity: 0;
  transition: all 0.9s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa-up {
  transform: translate(0, 200px);
}
