*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  background-image: linear-gradient(124deg, rgba(21, 87, 153, .9), rgba(21, 153, 87, .9));
  height: 95vh;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
  font-weight: 100;

  .headerTitle,
  .headerSubTitle,
  p,
  .mySkill {
    font-family: 'Open Sans', sans-serif;
    animation-name: top-to-down;
    animation-duration: 2s;
  }

  .headerTitle,
  .headerSubTitle {
    font-weight: 100;
    text-shadow: -1px 2px 0 rgba(100,100,100,1);
    text-align: center;
  }
  
  .headerTitle {
    margin-bottom: 30px;
    font-size: 6.3rem;
    letter-spacing: 4px;
  }

  .headerSubTitle {
    margin-bottom: 20px;
    font-size: 4rem;
    letter-spacing: 2px;
  }
  p {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ddd;
    time {
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
  .message {
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-align: center;
    transition: .2s;
    svg {
      color: pink;
    }
  }

  .arrowContainer {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100px;
    &:hover .arrow {
      border-color: orange;
    }
    .arrow {
      width: 35px;
      height: 35px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      animation: arrow-move 1.5s infinite;
      transition: .5s;
      &:not(:first-child) {
        margin-top: -10px;
      }
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: .15 * $i + s;
        }
      }
    }
  }
  @keyframes arrow-move {
    0% {
      opacity: 0;
      transform: rotate(45deg);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(15px) rotate(45deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .headerTitle,
    .headerSubTitle {
      width: 80%; 
    }
    .headerTitle {
      font-size: 5rem;
      letter-spacing: 2px;
    }
    .headerSubTitle {
      font-size: 3rem;
      letter-spacing: 1px;
    }
    p {
      font-size: 1.5rem;
    }
    .mySkill {
      width: 90%;
    }
    .arrowContainer {
      width: 50px;
      margin-top: -20px;
      .arrow {
        width: 25px;
        height: 25px;
      }
    }
  } 
}

.section {
  padding: 5% 0;
  .sectionTitle {
    color: #444;
    font-weight: 100;
    font-size: 3.8rem;
    letter-spacing: 2px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .section {
    .sectionTitle {
      font-size: 3rem;
      max-width: 80%;
      margin: 0 auto;
      line-height: 1.3;
    }
  }
}

.sec1 {
  .linksWrapper {
    display: flex;
    justify-content: center;
    margin: 40px 0 30px;
  }
  .linksTitle {
    letter-spacing: 5px;
  }

  .link-item {
    display: block;
    width: 20vw;
    margin: 0 1.2%;
    border: 2px solid rgb(190,190,190);
    border-radius: 3px;
    color: #444;
    text-decoration: none;
    text-align: center;
    &:hover {
      background: rgb(248,248,248);
      color: orange;
    }
    .link-title {
      font-size: 2.2rem;
      letter-spacing: 2px;
      margin: 50px 0 30px 0;
    }
    svg {
      font-size: 6rem;
      margin: 0;
    }
    p {
      width: 80%;
      margin: 40px auto 50px;
      font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
      font-size: 1.8rem;
      line-height: 1.6;
    }
  } //link-item

  .nogi {
    background: linear-gradient(to bottom right, #fff 50%, rgb(147,41,147) 50.3%) no-repeat bottom right/100% 100%;
    width: 62px;
    height: 62px;
    position: relative;
    margin: 0 auto;
    &::after {
      content: "47";
      font: 18px/1em -webkit-pictograph;
      color: #fff;
      right: 4px;
      bottom: 0;
      position: absolute;
    }
  }
} //section-links