$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}


.header {
  position: relative;
  background: url($bg-url) repeat 0 0;
  color: #eee;
  font-weight: 100;
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  animation-timing-function:         linear;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(124deg, rgba(21, 87, 153, .77), rgba(21, 153, 87, .77));
  }

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 5%;
  }

  .headerTitle,
  .headerSubTitle,
  p,
  .mySkill {
    font-family: 'Open Sans', sans-serif;
    animation-name: top-to-down;
    animation-duration: 2s;
  }

  .headerTitle,
  .headerSubTitle {
    font-weight: 500;
    text-shadow: -1px 2px 0 rgba(100,100,100,1);
    text-align: center;
  }
  .headerTitle {
    margin-bottom: 30px;
    font-size: clamp(50px, 5vw, 73px);
    letter-spacing: 4px;
  }
  .headerSubTitle {
    margin-bottom: 20px;
    font-size: 4rem;
    letter-spacing: 2px;
  }
  p {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ddd;
    time {
      font-weight: 900;
      letter-spacing: 1px;
    }
  }
  .message {
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-align: center;
    transition: .2s;
    svg {
      color: pink;
    }
  }

  .arrowContainer {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100px;
    &:hover .arrow {
      border-color: orange;
    }
    .arrow {
      width: 35px;
      height: 35px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      animation: arrow-move 1.5s infinite;
      transition: .5s;
      &:not(:first-child) {
        margin-top: -10px;
      }
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: .15 * $i + s;
        }
      }
    }
  }
  @keyframes arrow-move {
    0% {
      opacity: 0;
      transform: rotate(45deg);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(15px) rotate(45deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 3%;
    .headerTitle,
    .headerSubTitle {
      width: 80%; 
    }
    .headerTitle {
      letter-spacing: 2px;
    }
    .headerSubTitle {
      font-size: 3rem;
      letter-spacing: 1px;
    }
    p {
      font-size: 1.5rem;
    }
    .message {
      font-size: 2rem;
    }
    .mySkill {
      width: 90%;
    }
    .arrowContainer {
      width: 50px;
      margin-top: 20px;
      .arrow {
        width: 25px;
        height: 25px;
      }
    }
  } 
}

.section {
  padding: 5% 0;
  .sectionTitle {
    color: #444;
    font-weight: 100;
    font-size: 3.8rem;
    letter-spacing: 2px;
    text-align: center;
  }
  .sectionWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 30px auto 50px;
    max-width: 1000px;
    .imgWrapper {
      width: 50%;
    }
    p {
      width: 40%;
      color: #444;
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    .sectionTitle {
      font-size: 3rem;
      max-width: 80%;
      margin: 0 auto;
      line-height: 1.3;
    }
    .sectionWrapper {
      flex-direction: column;
      .imgWrapper {
        width: 80%;
        margin-bottom: 30px;
      }
      p {
        width: 80%;
        font-size: 1.8rem;
      }
    }
  }
}

.sec1 {
  .linksWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 40px auto 30px;
    width: 70%;
    .linksTitle {
      letter-spacing: 5px;
    }
    .linkItem {
      display: block;
      width: 30%;
      border: 2px solid rgb(190,190,190);
      border-radius: 3px;
      color: #444;
      text-decoration: none;
      text-align: center;
      transition: 0.2s;
      &:hover {
        background: rgb(248,248,248);
        color: orange;
      }
      .linkTitle {
        font-size: 2.2rem;
        letter-spacing: 2px;
        margin: 50px 0 30px 0;
      }
      svg {
        font-size: 6rem;
        margin: 0;
      }
      p {
        width: 80%;
        margin: 40px auto 50px;
        font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        font-size: 1.8rem;
        line-height: 1.6;
      }
    } //link-item
  }

  .nogi {
    background: linear-gradient(to bottom right, rgba(#fff, 0) 50%, rgb(147,41,147) 50.3%) no-repeat bottom right/100% 100%;
    width: 62px;
    height: 62px;
    position: relative;
    margin: 0 auto;
    &::after {
      content: "47";
      font: 18px/1em -webkit-pictograph;
      color: #fff;
      right: 4px;
      bottom: 0;
      position: absolute;
    }
  }
}

@media screen and (max-width: 768px) {
  .sec1 {
    .linksWrapper {
      flex-direction: column;
      width: 70%;
      .linkItem {
        width: 100%;
        .linkTitle {
          font-size: 1.8rem;
        }
        svg {
          font-size: 4rem;
        }
        p {
          margin: 30px auto;
          font-size: 1.5rem;
        }
      }
    }
  } 
}

.sec5 {
  background-color: #555;
  padding: 50px 0 30px;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
  }

  .sectionTitle {
    margin-bottom: 60px;
    color: #fff;
    font-size: 2.5rem;
  }

  .wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    .hurryUp,
    .running {
      margin: 0 30px;
      width: 28%;
      h3 {
        margin-bottom: 30px;
        font-size: 3rem;
        text-align: center;
        .emoji {
          font-size: 3.5rem;
        }
      }
    }
    .finished {
      width: 22%;
      h3 {
        margin-bottom: 30px;
        font-size: 3rem;
        text-align: left;
      }
    }
    .progressbarWrapper {
      width: 90%;
      margin: 0 auto 70px;
      transition: .3s;

      h4 {
        font-size: 1.7rem;
        letter-spacing: 1px;
      }
      span {
        display: block;
        margin: 10px 0 15px;
        font-size: 1.5rem;
      }
      .progressbar {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        .side {
          width: 100%;
          height: 15px;
          background-color: rgba(254, 254, 254, 0.3);
          top: 0;
          left: 0;
          position: absolute;
          .bar {
            background-size: 150% 150%;
            height:100%;
            background-image: linear-gradient(120deg, rgba(0, 153, 87, .9), rgba(21, 153, 237, .7), rgba(0, 153, 87, .9));
            box-shadow: 5px 5px 30px 5px rgba(0, 153, 87, 0.3);
          }
        }
      }
    }
  }
  .finishedList {
    li {
      font-size: 1.6rem;
      list-style: none;
      margin-bottom: 10px;

      &::before {
        content: "✨";
        font-size: 1.6rem;
      }
    }
  }
}

.barSample {
  width: 45%;
}
.barJam {
  width: 50%;
}
.barEcma {
  width:1%;
}

@keyframes gradient {
  0% {
  background-position: 0% 50%
  }
  100% {
  background-position: 100% 50%
  }
}

@media screen and (max-width: 768px) {
  .sec5 {
    padding: 30px 0;
    .sectionTitle {
      font-size: 2.2rem;
      margin-bottom: 30px;
    }
    .wrapper {
      flex-direction: column;
      .hurryUp,
      .running {
        width: 90%;
        margin: 0 auto 50px;
        h3 {
          margin-bottom: 20px;
          font-size: 1.8rem;
          .emoji {
            font-size: 2.1rem;
          }
        }
        .progressbarWrapper {
          width: 90%;
          margin: 0 auto 40px;
          h4 {
            font-size: 1.3rem
          }
          span {
            font-size: 1.3rem
          }
          .progressbar {
            width: 90%;
            .side {
              height: 12px;
            }
          }
        }
      }
      .finished {
        margin: 0 auto;
        width: 90%;
        h3 {
          font-size: 1.8rem;
          text-align: center;
        }
        ul {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
}

.footer {
  padding: 35px 0;
  background-color: #222;
  .footer-title {
    color: #ddd;
    font-size: clamp(16px, 3.4vw, 23px);
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
  }
}
.sa {
  opacity: 0;
  transition: all .9s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.saUp {
  transform: translate(0, 200px);
}
