a {
	text-decoration:  none;
}

img {
	max-width: 100%;
}

#home {
	background-image: url(../images/main-bg.jpg);
	min-height: 100vh;
}

.big-bg {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 4%;
}

.page-header {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.page-header {
		flex-direction: column;
		align-items: center;
	}	
}

.logo {
	width: 210px;
	margin-top: 14px;
}

.main-nav {
	display: flex;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-top: 34px;
	list-style: none;

	li {
		margin-left: 36px;

		a {
			color: #432;
			&:hover {
				color: #0bd;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.main-nav {
		margin-top: 10px;
		font-size: 1rem;
		li {
			margin: 0 20px;
		}
	}	
}

.page-title {
	font-size: 5rem;
	font-family: "Philosopher", serif;
	text-transform: uppercase;
	font-weight: normal;
}

@media screen and (max-width: 768px) {
	.page-title {
		font-size: 2.5rem;
	}	
}

.home-content {
	text-align: center;
	margin-top: 10%;
	p {
		font-size: 1.125rem;
		margin: 10px 0 42px;
	}
	.button {
		font-size: 1.375rem;
		background-color: #0bd;
		color: #fff;
		border-radius: 5px;
		padding: 18px 32px;
		&:hover {
			background-color: #0090aa;
		}
	}
}

@media screen and (max-width: 768px) {
	.home-content {
		margin-top: 20px;
	}	
}

#news {
	background-image: url(../images/news-bg.jpg);
	height: 270px;
	margin-bottom: 40px;
	.page-title {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	#news .page-title {
		margin-top: 30px;
	}	
}

.news-contents {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;

	.post-title {
		font-size: 2rem;
		font-weight: normal;
		font-family: "Yu Mincho", "YuMincho", serif;
	}
	.post-title,
	.post-cat {
		margin-left: 120px;
	}
}

@media screen and (max-width: 768pc) {
	.news-contents {
		flex-direction: column;
	}	
}

article {
	width: 74%;
	.post-info {
		position: relative;
		padding-top: 4px;
		margin-bottom: 40px;
		.post-date {
			background-color: #0bd;
			border-radius: 50%;
			color: #fff;
			width: 100px;
			height: 100px;
			font-size: 1.625rem;
			text-align: center;
			position: absolute;
			top: 0;
			padding-top: 10px;
			span {
				font-size: 1rem;
				border-top: 1px rgba(#fff, 0.5) solid;
				padding-top: 6px;
				display: block;
				width: 60%;
				margin: 0 auto;
			}
		}
	}
	img {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 1rem;
	}
}

aside {
	width: 22%;
	.sub-title {
		padding: 0 8px 8px;
		border-bottom: 2px #0bd solid;
		font-size: 1.375rem;
		font-weight: normal;
	}
	.sub-menu {
		margin-bottom: 60px;
		list-style: none;
		li {
			border-bottom: 1px #ddd solid;
			a {
				color: #432;
				padding: 10px;
				&:hover {
					color: #0bd;
				}
			}
		}
	}
	p {
		padding: 12px 10px;
	}
}

@media screen and (max-width: 768px) {
	article,
	aside {
		width: 100%;
	}
	article {
		.post-info {
			margin-bottom: 30px;
			.post-date {
				width: 70px;
				height: 70px;
				font-size: 1rem;
				span {
					font-size: 0.875rem;
					padding-top: 2px;
				}
			}
			.post-title,
			.post-cat {
				margin-left: 80px;
			}
			.post-title {
				font-size: 1.375rem;
			}
			.post-cat {
				font-size: 0.875rem;
				margin-top: 10px;
			}
		}
	}
	aside {
		margin-top: 60px;
	}
}

//----------------------
// Menu

#menu {
	background-image: url(../images/menu-bg.jpg);
}

.menu-content {
	max-width: 560px;
	margin-top: 10%;
	.page-title {
		text-align: center;
	}
	p {
		margin: 10px 0 0;
		font-size: 1.125rem;
	}
}

.grid {
	display: grid;
	gap: 26px;
	grid-template-columns: 1fr 1fr 1fr;
}

footer {
	background-color: #432;;
	text-align: center;
	padding: 20px 0;
	p {
		color: #fff;
		font-size: 0.875rem;
	}
}