$main-color: rgb(147,41,147);
$main-color-hover: rgba(147,41,147,.8);
$main-color2: rgba(147,41,147,.5);
$main-color3: rgb(117,11,117);
$sub-color: #ffd700;

a {
  color: #444;
  text-decoration: none;
}

.purple {
  color: $main-color;
}

.title {
  font-family: 'Bitter', serif;
  font-weight: 100;
}

.btn-wrapper {
  margin: 50px 0 0;
  padding: 10px 0;
  text-align: center;
  .btn {
    position: relative;
    color: #fff;
    font-size: 1.7rem;
    letter-spacing: 2px;
    padding:1rem 2.5rem 1.2rem;
    background: $main-color;
    border-radius: 1.5px;
    &:hover {
      background: $main-color-hover;
    }
  }
}

@media screen and (max-width: 768px) {
  .btn-wrapper {
    margin: 15px 0 0;
  }
}

/**
* global-nav
**/
.global-nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  background: rgba(250,250,255, 1);
  z-index: 2;

  .links {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    i {
      font-size: 2.8rem;
      margin: 0 6px;
      line-height: 1.5;
      color: #aaa;
      transition: .3s;
      &:hover {
        color: $main-color;
      }
    } //i
  } //links
  .site-nav {
    display: flex;
    margin-right: 5vw;

    .nav-item {
      margin: 0 4px;
      a {
        display: block;
        font-size: 2rem;
        line-height: 50px;
        transition: .3s;
        padding: 0 15px;
        &:hover {
          color: $main-color;
        }
      } //a
    } //nav-item
  } //site-nav
} //global-menu

@media screen and (max-width: 768px) {
  .global-nav {
  }
}

/**
* drawer-menu
**/

.check {
  display: none;
}

.drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(52, 52, 52, .9), rgba(67, 67, 67, .9));

  transform: translateX(-10vw); //少し左にずらしておく
  opacity: 0; //透明にしておく

  .drawer-list {
    padding-left: 50px;
    margin-top: 10vh;

    .drawer-item { 
      font-size: 3.8rem;
      color: #fff;
      text-align: left;
      margin-bottom: 18px;

      &:first-of-type {
        margin-bottom: 30px;
      }

      a {
        display: block;
        color: #fff;
        text-align: left;
        font-size: 1.8rem;
        transition: .6s;
        margin-left: 3px;
        &:hover {
          color: #444;
          background: #bbb;
          font-size: 1.6rem;
        }
      }
    } //drawer-item
  } //drawer-list
} //drawer-menu

.menu-btn {
  display: block;
  cursor: pointer;
  z-index: 4;

  .bar {
    display: block;
    width: 40px;
    height: 5px;
    background: $main-color;
    border-radius: 3px;
    transition: .5s;
  }

  .bar-top {
    transform: translate(0);
    margin-bottom: 8px;
  }
  .bar-middle {
    margin-bottom: 8px;
  }
  &:hover .bar {
    background: orange;
  }
}

.check:checked ~ .drawer-menu {
  display: block;
  transition-delay: .1s;
  transform: none;
  opacity: 1;
  z-index: 3;
  transition-duration: .8s;
}

.check:checked ~ .menu-btn {
  .bar {
    background: #ddd;
  }
  .bar-top {
    transform:  translateY(10px) rotate(405deg);
  }
  .bar-middle {
    display: none;
  }
  .bar-bottom {
    transition-delay: .3s;
    transform: translateY(-3px) rotate(-405deg);
  }
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.main {
  padding-top: 60px;
  transition-property: all;
  transition-delay: .3s;
  transition-duration: .5s;
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 30px;
  }
}

.section {
  background: #fff;
  padding: 30px 0 40px;

  .section-title {
    font-size: 9rem;
    letter-spacing: 3px;
    margin-bottom: 50px;
    color: #444;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 100;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 20px 0 30px;

    .section-title {
      font-size: 5rem;
    }
  }
}

.header {
  align-items: center;
  position: relative;

  .header-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 10px 0;

    .header-title {
      text-align: left;
      font-size: 4rem;
      color: #444;
    }
  } //header-title-wrapper
} //header

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 0;
    height: auto;

    .header-title-wrapper {
      .header-title {
        font-size: 3rem;
      }
    }
  }
}

.intro-section {
  padding: 50px 0 100px;

  .section-title {
    font-size: 6rem;
    &::first-letter {
      color: $main-color;
      font-size: 13rem;
    }
  }

  p {
    width: 60%;
    margin: 0 auto 20px;
    color: #444;
    line-height: 1.4;
    letter-spacing: 1px;
    font: {
      size: 2.2rem;
      weight: 400;
    }
  }

  .purple {
    font-size: 3rem;
  }
} //intro-section

@media screen and (max-width: 768px) {
  .intro-section {
    padding: 30px 0 40px;

    .section-title {
      font-size: 4rem;
      &::first-letter {
        font-size: 5rem;
      }
    }

    p {
      width: 85%;
      font-size: 1.8rem; 
    }

    .purple {
      font-size: 2rem; 
    }
  }
}

.disc-section {
  .section-title {
    margin-bottom: 60px;
  }
  .wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;

    .thum-list {
      height: 100%;
      width: 25vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

    .detail {
      width: 69vw;
      height: 100%;

      .item {
        width: 100%;
        height: 100%;
        display: none;

        p {
          font-size: 2rem;
          font-weight: 900;
          color: $main-color;
          margin-bottom: 20px;
        }

        .title {
          color: #444;
          font-size: 4rem;
        }

        .wrapper {
          display: flex;
          align-items: start; 
          padding-top: 50px;

          .imgWrapper {
            width: 45%;
            height: auto;
            margin-bottom: 50px;
          }
          ol {
            list-style-type: none;
            margin-left: 3vw;

            li {
              margin-bottom: 2rem;
              font-size: 2.2rem;

              .info {
                color: #aaa;
                font-size: 1.8rem;
                font-weight: 400;
              }
            }
          }
        }

        &.is-active {
          display: block;
          animation: fade .6s;
        }
      }
    }
  } //wrapper

  .thum-list {
    .thum {
      margin: 3vh 0;
      width: 12vh;
      height: auto;
      position: relative;
      //z-index: 3;
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateX(10vh);
    }
    to {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .disc-section {
    .section-title {
      font-size: 4.5rem;
      margin-bottom: 20px;
    }
    .wrapper {
      flex-direction: column;

      .thum-list {
        width: 100%;
        height: auto;
        flex-direction: row;
        .thum {
          width: 8vh;
          margin: 0 20px;
        }
      }
      .detail {
        width: 100%;
        height: auto;

        .item {
          p {
            font-size: 2rem;
            text-align: center;
          }
          .title {
            font-size: 2.2rem;
            .purple {
              color: $main-color;
              font-size: 3.5rem;
            }
          }
          .wrapper {
            align-items: center;
            padding-top: 10px;

            img {
              width: 38%;
              margin-bottom: 20px;
            }
            ol {
              margin: 0;
              li {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
} //media

.contents-section {
  margin: 0 auto;
  padding-top: 50px;
  background: #222;

  .section-title {
    color: #fff;
  }

  .contents {
    display: block;
    background: $main-color;
    transition: .3s;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
    border: 1px solid #222;
    &:hover {
      opacity: .6;
    }

    img {
      width: 100%;
    }

    .contents-wrapper {
      padding: 30px 50px;

      .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-indent: none;

        .contents-title {
          font-size: 2.8rem;
          text-decoration: underline;
        }
        time {
          font-size: 2rem;
          &:before {
            content: "\f017";
            font-family: "Font Awesome 5 Free";
            margin-right: 10px;
          }
        }
      } //title-wrapper

      .contents-text {
        font-size: 2rem;
        line-height: 1.6;
        width: 80%;
        margin: 20px auto 12px;
        text-indent: .7rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    } //news-wrapper
  } //contents

  /**
  ** news-container
  ** container-2とcontainer-3で.newsを囲んでflexで横並びにする
  **/
  .contents-container {
    display: flex;
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
  }

  .container-2 {
    .contents {
      width: 50%;
      .imgWrapper {
        min-height: 52%;
        height: 52%;
      }
      .contents-wrapper {
        padding: 20px 0 10px;

        .title-wrapper {
          flex-direction: column;

          .contents-title {
            margin-bottom: 10px;
          }
        } //title-wrapper

        .contents-text {
          -webkit-line-clamp: 4;
          width: 80%;
        }
      } //news-wrapper
    } //news
  } //container-2
} //contents-section

@media screen and (max-width: 768px) {
  .contents-section {
    .contents {
      margin-bottom: 20px;
      width: 80%;
      img {
        height: 100%;
      }
      .contents-wrapper {
        padding: 15px 0 0px;
        .title-wrapper {
          flex-direction: column;
          .contents-title {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 20px;
          }
          time {
            font-size: 1.5rem;
          }
        } // title-wrapper
        .contents-text {
          font-size: 1.4rem;
        }
      }
    }
    .container-2 {
      flex-direction: column;
      .contents {
        width: 100%;
      }
      .contents-text {
        font-size: 1.2rem;
      }
    }
  }
}

.member-section {
  padding: 30px 50px 0px;
  background: $main-color2;
  &-title {
    color: #fff;
  }
  .flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    .member {
      position: relative;
      display: block;
      width: 24%;
      overflow: hidden;
      max-height: 320px;
      /*
      .member-img {
        width: 100%;
      }
      */
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(147,41,147,.4);
        opacity: 0;
        transition: .3s;
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          text-align: center;
          color: #fff;
          font-size: 2.5rem;
          letter-spacing: 3px;
        }
      } //mask
      &:hover .mask {
        opacity: 1;
      }
    } //member
  } //flex
} //member-section

.footer {
  position: relative;
  padding: 150px 13vw 50px;
  background: linear-gradient(to bottom, $main-color2 8%, lighten($main-color3, 10%) 90%);
  color: $main-color3;

  .footer-title {
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    margin: 40px 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;

    .border {
      display: none;
    }

    .list {
      display: flex;
      flex-direction: column;
      margin: 0 30px;
    }
    .list-title {
      margin-bottom: 20px;
      color: #444;
      font-size: 2rem;
      font-weight: 400;
    }

    ul {
      margin-left: 10px;
      list-style: none;

      li {
        margin-bottom: 10px;
        text-decoration: underline;

        i {
          color: #444;
          font-size: 1.3rem;
          margin-right: 8px;
        }

        a {
          color: #444;
          font-size: 1.4rem;
          transition: .5s;

          &:hover {
            color: orange;
          }
        }
      }
    }
  }

  .link {
    margin: 50px auto 30px;
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      margin: 0 10px;

      a {
        font-size: 1.4rem;
        transition: .2s;
        &:hover {
          color: orange;
        }
      }
    }
  }

  .copyright {
    font-size: 1.6rem;
    color: #444;
    text-align: center;
    a {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 0 50px;

    .footer-title {
      width: 80%;
      margin: 50px auto 25px;
      font-size: 3rem;
      line-height: 1.4;;
    }

    .wrapper {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;

      .border {
        display: block;
        width: 80%;
        margin: 0 auto 10px;
        border-bottom: 1.5px solid #555;
        box-shadow: 0px 1px 0px $main-color2;
      }
      .list {
        margin: 0 40px;
        margin-bottom: 15px;
        flex-direction: row;
      }
      .list-title {
        margin-bottom: 10px;
        font-size: 1.5rem;
        line-height: 1.5;
        width: 30%;
      }

      ul {
        width: 65%;
        li {
          margin-bottom: 5px;
          line-height: 1.5;
          a {
            font-size: 1.3rem;
          }
        }
      }
    } //wrapper
    .link {
      margin: 20px auto 10px;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 60%;

      li {
        margin: 0 5px 10px 0;
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu-btn {
    top: 3.1%;
    right: 10px;
    &::before {
      font-size: 1.6rem;
    }
  }
  .member-section {
    padding: 10px 5px 20px;
    .flex {
      width: 95%;
      flex-wrap: wrap;
      max-height: none;
      margin: 0 auto;
      .member {
        width: 45%;
        margin-bottom: 10px;
      }
    }
  }
  .btn {
    margin: 10px auto;
    padding: 5px 0 10px;
    a {
      font-size: 1.4rem;
      letter-spacing: 3px;
    }
  }
} //media

/*
.sa {
  opacity: 0;
  transition: all .8s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-100px, 0);
}

.sa--rl {
  transform: translate(100px, 0);
}

.sa--up {
  transform: translate(0, 200px);
}
*/

.nogi-base {
  background: linear-gradient(to bottom right, rgba(255, 255,255, 0) 50%, $main-color 50.3%) no-repeat bottom right/100% 100%;
  position: relative;
  font-family: 'Bitter', serif;
}
.nogi-before {
  position: absolute;
  right: 0;
  bottom: -30px;
  content: "potsunen";
  color: $main-color;
  font-size: 2rem;
  font-style: italic;
}

.nogi-after {
  content: "47";
  font: 80px/1em -webkit-pictograph;
  color: #fff;
  right: 4px;
  bottom: 2px;
  position: absolute;
}

//ロゴのベース
.header-nogi {
  @extend .nogi-base;
  width: 60px;
  height: 63px;
  margin: -10px 20px 0 -10px;
  &::before {
    @extend .nogi-before;
    font-size: 1.2rem;
    bottom: -12px;
  }
  &::after {
    @extend .nogi-after;
    font-size: 1.5rem;
  }
} //nogi

@media (max-width: 768px) {
  .header-nogi {
    width: 45px;
    height: 46px;
    margin: 0 10px 0 -10px;
    &::before {
      display: none;
    }
  }
}

.footer-nogi {
  @extend .nogi-base;
  width: 100px;
  height: 104px;
  margin: 0 auto 100px;
  &::before {
    @extend .nogi-before;
    font-size: 2rem;
    bottom: -22px;
  }
  &::after {
    @extend .nogi-after;
    font-size: 2.5rem;
  }
} //nogi

@media (max-width: 768px) {
  .footer-nogi {
    margin: 0 auto 50px;
    width: 70px;
    height: 73px;
  }
}