* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  color: #444;
  font-weight: 100;
}

p {
  text-indent: 0.7rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0 5vw;
}
.nav h1 {
  font-size: 3.2rem;
}
.nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav ul li {
  margin: 0 20px;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .nav {
    height: 8vh;
  }
  .nav h1 {
    font-size: 2rem;
  }
  .nav ul {
    display: none;
  }
}
.header {
  position: relative;
  height: 80vh;
  background-image: url(../images/header.webp);
  background-position: center center;
  background-size: cover;
}
.header .header-wrapper {
  position: absolute;
  top: 10vh;
  right: 10vw;
  color: #fff;
  width: 50%;
}
.header .header-wrapper h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 5rem;
}
.header .header-wrapper p {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .header {
    height: 60vh;
  }
  .header .header-wrapper {
    top: 3vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
  .header .header-wrapper h1 {
    margin-bottom: 20px;
    font-size: 2.8rem;
  }
  .header .header-wrapper p {
    font-size: 1.6rem;
  }
}
.section {
  position: relative;
  margin-top: 50px;
  padding: 100px 0 50px;
  min-height: 80vh;
}
.section .section-title {
  position: relative;
  font-size: 4rem;
  text-align: center;
}
.section .section-title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  z-index: -1;
  color: rgba(255, 165, 0, 0.2);
  font-size: 8rem;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .section {
    min-height: 65vh;
    margin-top: 30px;
    padding: 50px 0;
  }
  .section .section-title {
    font-size: 2.5rem;
  }
  .section .section-title::after {
    font-size: 4.5rem;
  }
}
.title-wrapper .section-title {
  font-size: 2.5rem;
  letter-spacing: 8px;
  text-align: center;
}
.title-wrapper .dot {
  margin: 10px auto;
  text-align: center;
}
.title-wrapper .dot span {
  display: inline-block;
  background-color: orange;
  height: 7px;
  width: 7px;
  border-radius: 100%;
  margin-right: 3px;
}

.link-btn {
  text-decoration: none;
  padding-bottom: 3px;
  color: #000;
  display: block;
}

.sec1 .section-title::after {
  content: "MESSAGE";
}
.sec1 .box {
  position: absolute;
  top: 0;
  height: 80vh;
  width: 25vw;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 165, 0, 0.5)), to(rgba(255, 165, 0, 0.4)));
  background: linear-gradient(to right, rgba(255, 165, 0, 0.5), rgba(255, 165, 0, 0.4));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
}
.sec1 .img {
  position: absolute;
  top: 20vh;
  right: 0;
  background-image: url(../images/header.webp);
  background-size: cover;
  display: block;
  width: 55%;
  height: 60vh;
  z-index: -1;
}
.sec1 .text-wrapper {
  position: absolute;
  top: 30vh;
  left: 20%;
  background-color: #fff;
  padding: 3rem;
  width: 35%;
  -webkit-box-shadow: 0 0 5px 1px #ddd;
          box-shadow: 0 0 5px 1px #ddd;
}
.sec1 .text-wrapper .title-wrapper {
  margin-bottom: 20px;
}
.sec1 .text-wrapper .title-wrapper .dot {
  margin: 5px 0;
  text-align: left;
}
.sec1 .text-wrapper .title-wrapper .text-title {
  font-size: 2.5rem;
  text-align: left;
  letter-spacing: 2px;
}
.sec1 .text-wrapper p {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.sec1 .text-wrapper .link {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  bottom: 0;
  right: 0;
  font-size: 10rem;
  -webkit-transform: translateX(50%) translateY(50%);
          transform: translateX(50%) translateY(50%);
  background: #fff;
  -webkit-box-shadow: 0 0 2px 1px #ddd;
          box-shadow: 0 0 2px 1px #ddd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sec1 .text-wrapper .link:hover {
  background: rgba(255, 165, 0, 0.9);
}

@media screen and (max-width: 768px) {
  .sec1 .box {
    display: none;
  }
  .sec1 .img {
    width: 100%;
    height: 30vh;
    top: 15vh;
  }
  .sec1 .text-wrapper {
    top: 40vh;
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .sec1 .text-wrapper .title-wrapper .text-title {
    font-size: 2rem;
  }
  .sec1 .text-wrapper p {
    font-size: 1.4rem;
  }
  .sec1 .text-wrapper .link {
    height: 50px;
    width: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
  }
}
.sec2 .section-title::after {
  content: "EXAMINE";
}
.sec2 .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 67%;
  margin: 50px auto;
}
.sec2 .menu-wrapper .menu {
  position: relative;
  height: 100px;
  width: 40%;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
}
.sec2 .menu-wrapper .menu::before {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "";
  height: 100%;
  width: 100%;
  background-color: orange;
  z-index: -1;
}
.sec2 .menu-wrapper .menu .link {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: -15px;
  right: -15px;
  background-color: #fff;
  border: 1px solid orange;
}
.sec2 .menu-wrapper .menu .link:hover {
  background: orange;
  border: none;
}